<div class="jumbotron">
    <h1>Kenyan Documentaries</h1>
    <p class="lead">
        <img src="images/12335132_1494213414214102_1568271013_n.gif" alt="Main">
        <br>
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/"><span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="row col-md-12 center-block">
    <a class="btn btn-primary" ng-href="#/addMovie">Add Movie</a>
    <table width="80%">
        <thead>
            <th></th>
        </thead>
            <tr ng-repeat="x in movies">
                <td>{{x.title}}</td>
                <td><a class="btn btn-primary" ng href="#/viewMovie/{{x._id}}">View Movie</a></td>
                <td><a class="btn btn-danger">Delete Movie</a></td>
            </tr>
    </table>
</div>
