<div class="jumbotron">
    <h1>Movie Zone</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman">
        <br> Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="row col-md-12 center-block">
    <table width="80%">
        <thead>
            <th>Title</th>
        </thead>
            <tr ng-repeat="x in movies">
                <td>{{x.title}}</td>
                <td><a class="btn btn-primary" ng href="#/viewMovie/{{x._id}}">View Movie</a></td>
                <td><a class="btn btn-danger">Delete Movie</a></td>
            </tr>
    </table>
</div>
